# Ignore raw data and output folders
row_data/
row_data2/
output_simulations/
output_simulations2/
# Ignore log file
logs.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Private config
secrets.py


# OS-specific files
.DS_Store
Thumbs.db